/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: system-ui, sans-serif;
    background: #000;
    color: #fff;
    overflow-x: hidden;
}

/* ROOT APP CONTAINER */
#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
